@charset "UTF-8";
#formbox{
	padding: 80px;
    position: relative;
}
#codeget{
	 color: white;
	 background: #4885cf;
	 width:100%;
	  height: 50px;
}
#formbox:after{
	content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: #f67500r;
    z-index: 1;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
body {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333333;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: white;
}
.formBox:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: #4885cf;
    z-index: 1;
}
@media (min-width: 1200px)
.container{
	width: 1170px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*中间显示框*/
.orderForm{
	width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 1px solid #f1f1f1;
    position: relative;
    z-index: 2;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInUp, .bounceIn, .fadeInRight {
    visibility: visible;
}
.orderForm select {
    position: relative;
    left: -4px;
}
.orderForm input[type=text], #orderFormPage .orderForm select {
    width: 85%;
    padding: 20px;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    background: white;
    border: 1px solid #efefef;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
html, button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
html, button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"], select {
    -webkit-appearance: button;
    cursor: pointer;
}
 .orderForm select {
    width: 85%;
    padding: 20px;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
    background: white;
    border: 1px solid #efefef;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}
.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
* {
    font-family: 微软雅黑;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div {
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, button, input, select, textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family: 微软雅黑;
    text-size-adjust: 100%;
    font-size: 62.5%;
    background: white;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
input[type="button" i] {
    appearance: push-button;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.orderForm .submitBox input {
    width: 100%;
    padding: 20px;
    background: #4885cf;
    color: white;
    border: none;
    margin-top: 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 4px 0px #336fb7;
    -webkit-box-shadow: 0px 4px 0px #336fb7;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, html input[type="button"], input[type="reset"], input[type="submit"], select {
    -webkit-appearance: button;
    cursor: pointer;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
}
#orderFormPage .orderForm .inputBox .codeget {
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    padding: 0 20px;
    background: #4885cf;
    color: white;
    border: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}